@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;700&display=swap");
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.container {
  background-image: url("src/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 100vh;
}
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c0b09; /* Adjust the color to control visibility */
  opacity: 0.8;
}
.containerbox {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  height: 40px;
}
.topbarLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
span {
  color: white;
  margin-right: 20px;
}
.topbarRight a {
  color: white;
  text-decoration: none;
  transition: color ease-in 0.3s;
}
.topbarRight a:hover {
  color: #cda45e;
}
.nav-header {
  background-color: rgba(12, 11, 9, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 100px 0px 100px;
}
.nav-header h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 200;
}
.nav-header .btns {
  margin: 0;
}
.nav-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.click-to-scroll {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  transition: color ease-in 0.3s;
}
.click-to-scroll .active {
  color: #cda45e;
}
.click-to-scroll:hover {
  color: #cda45e;
}
.dropdownlist {
  display: none;
  position: fixed;
  background-color: white;
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
}
.dropdownlist a {
  color: grey;
}
#dpdnbtn:hover {
  display: block;
}
.deepdropdownlist {
  position: absolute;
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
  background-color: white;
}
.deepdropdownlist a {
  color: grey;
}
.Home {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.homeLeft {
  display: flex;
  flex-direction: column;
  padding: 200px 0px 60px 100px;
  width: 150vw;
}
.homeHeadLeft {
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}
.homeHeadRight {
  color: #cda45e;
}
h2 {
  font-family: "Playfair Display", sans-serif;
  color: white;
  font-weight: 500;
}
.playbtn-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnContainer {
  display: flex;
  flex-direction: row;
}
.btns {
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #cda45e;
  border-radius: 20px;
  padding: 7px 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 30px;
  transition: background-color 0.5s ease;
}
.btns:hover {
  background-color: #cda45e;
}
.About {
  background-image: url(src/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 75vh;
  position: relative;
}
.About::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c0b09; /* Adjust the color to control visibility */
  opacity: 0.8;
}
.aboutContents {
  padding-top: 70px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.aboutLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
.aboutHeader {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: white;
  margin: 0;
}
.aboutText {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: white;
  font-size: 15px;
}
.aboutList {
  margin: 0;
  color: white;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  padding: 0;
}
.aboutParagraph {
  color: white;
  font-family: "Poppins", sans-serif;
}
.aboutRight {
  padding-left: 40px;
}
.img {
  height: 450px;
  width: 600px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  transition: transform ease-in-out 0.5s;
}
.img:hover {
  transform: scale(1.05);
}
.whyUs {
  height: 60vh;
  display: flex;
  flex-direction: column;
  background: #0c0b09;
  padding: 70px 100px 0px 100px;
}
.whyLine {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.why {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.whyBar {
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 4px 10px;
  background: rgba(255, 255, 255, 0.2);
}
.whyHeader {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  color: #cda45e;
  margin-top: 0;
}
.whyBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.whybox {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #1a1814;
  margin: 12px;
  transition: padding ease-in-out 0.5s;
}
.whyNums {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #cda45e;
}
h4 {
  font-family: "Playfair Display";
  font-size: 24px;
  margin: 20px 0px;
  color: white;
}
.whyText {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.whybox:hover {
  background-color: #cda45e;
}
.whybox:hover {
  .whyNums,
  .whyText,
  h4 {
    color: white;
    transform: translateY(-20px);
  }
}
.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1814;
  padding: 70px 100px 0px 100px;
}
.menuLine {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.smallmenu {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.menuBar {
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 4px 10px;
  background: rgba(255, 255, 255, 0.2);
}
.menuHeader {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  color: #cda45e;
  margin-top: 0;
}
.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-item {
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  margin: 0px 0px 10px;
  padding: 8px 12px 10px;
  color: white;
}
.menu-item:hover {
  color: #cda45e;
  cursor: pointer;
}
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menuInfo {
  display: none;
}
.menuInfo.active {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  column-gap: 20px;
  margin: 15px 0px 15px 0px;
  align-items: top;
}
.dish {
  display: grid;
  grid-template-columns: auto 1fr;
}
.dishBar {
  display: inline-block;
  width: 100%;
  height: 5px;
  padding-top: 5px;
  margin: 4px 10px;
  border-bottom: 1px dotted #cda45e;
}
.dishName {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.dishName:hover {
  color: #cda45e;
  cursor: pointer;
}
.dishImg {
  width: 60px;
  border-radius: 35px;
  border: 5px solid rgba(255, 255, 255, 0.2);
}
.Specials {
  height: 60vh;
  display: flex;
  flex-direction: column;
  background: #0c0b09;
  padding: 70px 100px 0px 100px;
}
.specialHeader {
  color: #cda45e;
  font-family: "Playfair Display", sans-serif;
  margin-top: 0;
}
.smallSpecial {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.specialBar {
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 4px 10px;
  background: rgba(255, 255, 255, 0.2);
}
.specialSession {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.specialList {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.specialInfo {
  display: flex;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 45px;
  align-items: center;
  padding-left: 10px;
  border-right: 2px solid #cda45e;
}
.specialInfo:hover {
  color: #cda45e;
  cursor: pointer;
}
.specialInfo.active {
  background-color: #cda45e;
  color: black;
}
.specialDisplay {
  display: flex;
  flex-direction: row;
}
.specialEach {
  display: none;
}
.specialEach.active {
  display: flex;
  flex-direction: row;
}
.eachHeader {
  font-family: "Playfair Display", sans-serif;
  color: white;
  font-size: 26px;
  margin: 0px 0px 20px 0px;
}
.eachTextone {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #aaaaaa;
}
.eachTexttwo {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  color: #aaaaaa;
}
.specialImg {
  height: 300px;
}
.Events {
  background-image: url(src/events-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  position: relative;
}
.Events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c0b09; /* Adjust the color to control visibility */
  opacity: 0.8; /* Adjust the opacity to make it less visible */
  overflow: hidden;
}
.eventContents {
  position: absolute;
  padding: 70px 70px 0px 100px;
}
.eventContainer {
  display: flex;
}
.eventSession.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: display 1s ease-in;
}
.eventSession {
  display: none;
}
.eventImg {
  width: 95%;
  height: auto;
  margin: 0px 12px 0px 12px;
}
.eventSessionRight {
  display: flex;
  flex-direction: column;
}
.eventHeader {
  font-family: "Playfair Display", sans-serif;
  font-size: 26px;
  margin: 0px 0px 18px 0px;
  color: #cda45e;
}
.eventPrice {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #cda45e;
}
.eventDesc {
  margin: 16px 0px 16px 0px;
  font-style: italic;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.eventDetail {
  list-style-type: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 16px 0px 16px 0px;
  padding: 0;
}
.detailList {
  margin: 10px 0px 10px 0px;
}
.eventAbt {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.Booking {
  height: 60vh;
  display: flex;
  flex-direction: column;
  background: #0c0b09;
  padding: 70px 100px 0px 100px;
}
.bookingForm {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}
.formAttributes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 12px;
  column-gap: 12px;
}
.formAttributes input {
  border: 0.8px solid #cda45e;
  height: 50px;
  background-color: #0c0b09;
  color: white;
  padding-left: 10px;
}
.textmessage {
  background-color: #0c0b09;
  border: 0.8px solid #cda45e;
  color: white;
}
.bookbtnContainer {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.bookBtn {
  margin-top: 10px;
  background-color: #cda45e;
  color: white;
  height: 100%;
  width: 200px;
  border-radius: 50px;
  border: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.bookBtn:hover {
  cursor: pointer;
  background-color: #dbb572;
}
.Testimonials {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1814;
  padding: 70px 100px 0px 100px;
}
.wholeContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.testContainer.active {
  display: flex;
  flex-direction: column;
}
.testContainer {
  display: none;
}
.quotes {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: #cda45e;
  font-weight: 700;
  font-style: oblique;
  margin: 0;
}
.tests {
  background-color: #27241e;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  position: relative;
  z-index: 1;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}
.testers {
  width: 80px;
  height: 80px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 45px;
  position: relative;
  z-index: 2;
  margin: -40px 0px 0px 40px;
  padding: 0;
}
.testerName {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 10px 0px 5px 45px;
}
.testerJob {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: white;
  margin: 0px 0px 0px 45px;
}
